.app-header {
  height: 100px;
  background-color: #e5f1ff;
  padding-top: 15px;
}

.app-body {
  padding-top: 20px;
}

#subjectName {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 1.2em;
  white-space: nowrap;
}

.syllabus {
  max-width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.question-holder {
  padding: 5px;
}

.question-answer {
  width: 100%;
  border: solid 1px #aaa;
  border-radius: 5px;
}

.question-answer:not(:first-child) {
    margin-top: 10px;
}

.question-answer .question-header {
  padding: 10px;
  background-color: #e5f1ff;
}

.question-answer .question-header .question-marks {
  float: right;
}

.question-answer .question {
  padding: 10px;
}

.question-answer .options {
  padding: 5px;
}

.question-answer .correct-answer {
  background-color: #b7ffb7;
}

.question-answer .incorrect-answer {
  background-color: #ffb7b7;
}

.chapter-number {
  padding: 3px;
  background-color: #31a2b8;
  color: #fff;
  border-radius: 3px;
}

.question-answer .option {
  display: flex;
  align-items: center;
  padding: 3px 0px;
}

.question-answer .options input[type="radio"] {
  margin-left: 15px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
}

.question-status-table {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.question-status-table .flagged-question {
  border-top: solid 3px #f00;
  border-bottom: solid 3px #f00;
}

.button-container {
  margin-top: 10px;
  padding: 5px;
}

.button-container button {
  margin-right: 5px;
}

.button-container .finish-exam {
  margin-left: auto;
}

.question-status-button {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 5px;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
}

.time-remaining {
  /* width: 200px; */
  float: right;
  text-align: right;
}

.result-section {
  margin: 0px 0px 10px 0px;
}

.result-header {
  margin-bottom: 5px;
  font-weight: bold;
  color: #3d33d5;
}

#chaptersWiseEvaluation {
  overflow-x: auto;
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 80% !important;
  }
}
