.app-header {
  height: 100px;
  background-color: #e5f1ff;
  padding-top: 15px;
}

.button-container {
  text-align: right;
}

#chaptersContainer input[type="checkbox"] {
  margin-left: 15px;
  margin-right: 5px;
}

.config-header {
  margin-top: 8px;
  font-weight: bold;
}

#numberOfQuestions {
  display: none;
}
